.home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 80vh;
    margin-left: 0;
    margin-bottom: 100px;

    .text-zone{
        max-width: 800px;
        text-align: center;
        align-content: center;
        flex-direction: column;
        gap: 20px;
    }
    
    .scroll-arrow {
        display: flex;
        flex-direction: column;
        gap: 1px;
        animation: fadeIn 1.3s 3.4s backwards;

        button {
            background: none;
            font-style: none;
            color: #4d4d4e;
            font-weight: 400;
            font-size: 10px;
            text-decoration: none;

            &:hover {
                color: tomato;
            }

            p {
                margin-bottom: 0;
            }
        }
    }

    img{
        width: 30%;
        height: 30%;
        animation: fadeIn 1s 1s backwards;
    }

    h1{
        color: #4d4d4e;
        font-size: 53px;
        margin: auto;
        font-family: 'Coolvetica';
        font-weight: 400;
        animation: fadeIn 1s 1.4s backwards;
    }

    h2{
        color: #8d8d8d;
        font-weight: 900;
        margin-bottom: 10px;
        font-size: 12px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
    }

    .social-media-container{
        margin: 10px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        a{
            font-size: 20px;
            line-height: 10px;
            animation: fadeIn 1.3s 3s backwards;

            div {
                width: 30px;
                height: 30px;

                .icon {
                    width: fit-content;
                    height: fit-content;
                }
            }
            
            &:hover svg{
                color: tomato;
            }
        }
    }
        
    .button-container{        
        margin: 10px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .flat-button{
            color: white;
            font-size: 13;
            font-weight: 400;
            letter-spacing: 4px;
            font-family: sans-serif;
            text-decoration: none;
            width: 200px;
            height: auto;
            border-radius: 20px;
            background: tomato;
            animation: fadeIn 1.3s 2.4s backwards;
    
            &:hover{
                background: white;
                color: tomato;
            }
        }
    }

}